* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
li, dt, dd {
  list-style: none;
}
a{text-decoration: none; color: #333;}
button{padding: 0; border: none; background-color: transparent; cursor: pointer;}
input {max-width: 100%; border: none;}